.App {
  display: flex;
  gap: 200px;
  padding: 100px 100px 100px 100px;
}

.robot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.buttons {
  display: flex;
  padding: 200px 100px 50px 100px;
  flex-direction: column;
  gap: 20px;
}

.instructions {
  padding: 0px 100px 100px 100px;
}
