.App {
  display: flex;
  gap: 200px;
  padding: 100px 100px 100px 100px;
}

.robot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100%;
}

.Getting-started {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-header {
  padding: 100px 50px 50px 150px;
  display: flex;
  gap: 150px;
  height: 950px;
}

.buttons {
  display: flex;
  padding: 20px 100px 50px 100px;
  flex-direction: column;
  gap: 20px;
}

.instructions {
  padding: 0px 100px 10px 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.voicechat {
  background-color: white;
  width: 800px;
  height: 510px;
}

.voicechat .header {
  background-color: grey;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.voicechat .mainbody {
  background-color: white;
  height: 370px;
  background-image: url("./assets/bg.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.9;
}
.voicechat .footer {
  background-color: grey;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.voicechat .Me {
  padding: 40px 2px 2px 2px;
  display: flex;
  flex-direction: column;
}

.voicechat .Bot {
  padding: 40px 0px 2px 500px;
  display: flex;
  flex-direction: column;
}

.scrolldown {
  width: 200px;
  height: 50px;
  border-radius: 2rem;
}

.start {
  background-color: rgb(111, 202, 111);
  width: 150px;
  height: 50px;
}

.stop {
  background-color: rgb(207, 59, 59);
  width: 150px;
  height: 50px;
}

.metxt {
  color: rgb(234, 197, 62);
  font-style: italic;
  font-size: 20px;
  margin-left: 0px;
  margin-bottom: 2px;
}

.bottxt {
  color: rgb(234, 197, 62);
  font-style: italic;
  font-size: 20px;
  margin-left: 270px;
}

.p1 {
  font-size: 42px;
  font-weight: 600;
}

.p2 {
  font-size: 22px;
}

.p3 {
  font-size: 15px;
}

.p4 {
  font-size: 13px;
}

.listitems {
  font-size: 25px;
}

h2 {
  font-size: 30px;
}
